@import url(https://fonts.google.com/specimen/Ibarra+Real+Nova?query=+Ibarra+Real+Nova+);
@import url(https://fonts.google.com/specimen/Kaushan+Script);

* {
    scroll-behavior: smooth;

}

body {
    background-color: #fff8e7;
}

/*Header*/

header {
    width: max-content;
    height: 5rem;
    flex-grow: 1;

}

.nav_header {
    display: contents;

}

.img_header {
    max-width: 40px;
    height: auto;
    vertical-align: middle;
    margin: 2.5rem;
}

.logo_header {
    vertical-align: middle;
}

.txt_header {
    padding: 3rem;
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    transition: color 0.7s ease-in-out;
    text-decoration: none;
    font-family: 'Ibarra Real Nova';
}

.txt_header:hover {
    color: #0e6db6;

}

/* comming soon */
@import url(https://fonts.google.com/specimen/Ibarra+Real+Nova?query=+Ibarra+Real+Nova+);
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");


body {
    background: #00091B;
    color: #fff;
}


@keyframes fadeIn {
    from {
        top: 20%;
        opacity: 0;
    }

    to {
        top: 100;
        opacity: 1;
    }

}

@-webkit-keyframes fadeIn {
    from {
        top: 20%;
        opacity: 0;
    }

    to {
        top: 100;
        opacity: 1;
    }

}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
    text-decoration: none;

}

.wrapper a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 100px;
    font-family: 'Kaushan Script';
    margin-bottom: 0;
    line-height: 1;
    font-weight: 900;
    text-transform: capitalize;
}

.dot {
    color: #4FEBFE;
}

p {
    margin-top: 20vh;
    text-align: center;
    font-family: 'Ibarra Real Nova';
    font-weight: normal;
    text-decoration: none;
}


.homepage {
    text-decoration: none;
    color: #36C8C8;
}

.homepage:hover {
    color: white;
}